@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

html,
body {
  height: 100%;
}

body {
  @include indent(0 auto, 0);
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  word-wrap: break-word;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.4;
  color: $color-primary;
  background-color: $white;
  outline: none;
}

// img {
//   max-width: 100%;
//   height: auto;
// }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba($white, 0.9);
  z-index: 6;
}

.overlay--show {
  display: block;
}

// Блоки без элементов по БЭМ
.page-main {
  width: 100%;
}

.promo-text {
  @include font(13px, 24px);
  @include indent(23px 30px, 0);
  color: $color-primary;
}

////

@media (min-width: $mq-medium) {
  .promo-text {
    @include indent(72px 50px 10px, 0);
    @include font($font-size, 30px);
  }
}

////

@media (min-width: $mq-large) {
  .promo-text {
    max-width: 675px;
    margin: 122px auto 10px;
    padding-left: 175px;
    padding-right: 200px;
  }
}
