$font-family: "Open Sans", "Arial", sans-serif;
$font-size: 17px;

$black: #000000;
$white: #ffffff;
$color-primary: #444444;
$color-secondery: #63d1bb;
$color-footer: #46c1ae;
$color-form: #62d1ba;
$color-bg: #f1f1f1;
$border-line: 1px solid #ececec;

$mq-medium: 768px;
$mq-large: 1150px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
