@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

html,
body {
  height: 100%;
}

body {
  @include indent(0 auto, 0);
  min-width: 320px;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  position: relative;
  word-wrap: break-word;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.4;
  color: $color-primary;
  background-color: $white;
}

// img {
//   max-width: 100%;
//   height: auto;
// }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Блоки без элементов по БЭМ
.page-main {
  @include indent;
  width: 100%;
}

.catalog {
  width: 100%;

  @include indent;
  padding-top: 30px;
}

.promo-text {
  @include font(13px, 24px);
  @include indent(24px 30px, 0);
  color: $color-primary;
}

.icon-phone {
  position: absolute;
  right: 8px;
  bottom: 15px;
}

.icon-mail {
  position: absolute;
  right: 4px;
  bottom: 10px;
}

////

@media (min-width: $mq-medium) {
  .catalog {
    padding-top: 78px;
  }

  .promo-text {
    @include indent(80px 50px 10px, 0);
    @include font($font-size, 30px);
  }

  .icon-phone {
    right: 26px;
  }

  .icon-mail {
    right: 22px;
  }
}

////

@media (min-width: $mq-large) {
  .catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    width: 1050px;

    @include indent(0 auto, 128px 50px 0);
  }

  .promo-text {
    max-width: 675px;
    margin: 122px auto 10px;
    padding-left: 175px;
    padding-right: 200px;
  }

  .icon-phone {
    right: 8px;
  }

  .icon-mail {
    right: 4px;
  }
}
