.catalog-item {
  @include indent(0 30px 30px, 0);
  display: flex;
  flex-direction: column;
}

.catalog-item__image {
  width: 260px;
  height: 195px;
  @include indent;
}

.catalog-item__descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 202px;
  padding: 28px;
  border: $border-line;
}

.catalog-item__name {
  text-decoration: none;
}

.catalog-item__name h2 {
  @include indent;
  @include font-set($font-size, 1.4);
  color: $black;
}

.catalog-item__text {
  @include indent(0, 10px 0 25px);
  @include font(13px, 1.4);
  color: $color-primary;
}

.catalog-item__order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 44px;
  border-top: $border-line;
}

.catalog-item__price {
  @include font-set(15px, 24px);
  color: $black;
}

.catalog-item__btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: $color-primary;
  font-size: 0;
}

////

@media (min-width: $mq-medium) {
  .catalog-item {
    flex-direction: row;
    @include indent(0 50px 52px, 0);
  }

// фон временно для видимой границы
  .catalog-item__image {
    width: 334px;
    height: 334px;
    background-color: #ececec;
  }

  .catalog-item__descr {
    width: 276px;
  }

  .catalog-item__name h2 {
    @include font-set(20px, 24px);
  }

  .catalog-item__text {
    padding-bottom: 5px;
    @include font(15px, 2);
  }

  .catalog-item__price {
    @include font-set($font-size, 1.4);
  }
}

////

@media (min-width: $mq-large) {
  .catalog-item {
    flex-direction: column;
    @include indent;
    margin-bottom: 55px;
  }

  .catalog-item__image {
    width: 316px;
    height: 462px;
    background-color: #ececec;
  }

  .catalog-item__descr {
    width: 258px;
    height: 139px;
  }
}
