.catalog {
  margin: 0 auto;
  padding: 30px 30px 0;
}

.catalog-item {
  margin-bottom: 30px;
  outline: none;
}

.catalog-item__image {
  display: block;
  min-height: 195px;

  @include indent;
}

.catalog-item__image img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.catalog-item__descr {
  padding: 28px;
  border: $border-line;
}

.catalog-item:hover > .catalog-item__descr,
.catalog-item:focus > .catalog-item__descr {
  box-shadow: 0 6px 10px rgba($black, 0.1);
}

.catalog-item:active > .catalog-item__descr {
  box-shadow: 0 3px 5px rgba($black, 0.1);
}

.catalog-item__name {
  text-decoration: none;
}

.catalog-item__name h2 {
  @include indent;
  @include font-set($font-size, 1.4);
  color: $black;
}

.catalog-item__name:hover h2,
.catalog-item__name:focus h2 {
  opacity: 0.6;
}

.catalog-item__name:active h2 {
  opacity: 0.3;
}

.catalog-item__text {
  @include indent(0, 10px 0 25px);
  @include font(13px, 1.4);
  color: $color-primary;
}

.catalog-item__order {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
  border-top: $border-line;
}

.catalog-item__price {
  @include font-set(15px, 24px);
  color: $black;
}

.catalog-item__btn {
  display: block;
  width: 20px;
  height: 22px;
  font-size: 0;
  cursor: pointer;
}

.catalog-item__btn:hover .icon--catalog-cart,
.catalog-item__btn:focus .icon--catalog-cart {
  fill: $color-secondery;
  opacity: 1;
}

.catalog-item__btn:active .icon--catalog-cart {
  fill: $color-secondery;
  opacity: 0.3;
}

////

@media (min-width: $mq-medium) {
  .catalog {
    padding: 78px 50px 0;
  }

  .catalog-item {
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
  }

  .catalog-item__image {
    width: 50%;
    min-height: 334px;
    background-color: #ececec;
  }

  .catalog-item__descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 26px 28px;
    box-sizing: border-box;
  }

  .catalog-item__name h2 {
    @include font-set(20px, 24px);
  }

  .catalog-item__text {
    padding: 5px 0 13px;

    @include font(15px, 2);
  }

  .catalog-item__order {
    padding-top: 22px;
  }

  .catalog-item__price {
    @include font-set($font-size, 1.4);
  }

  .catalog-item__btn {
    width: 25px;
    height: 24px;
  }
}

////

@media (min-width: $mq-large) {
  .catalog {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    max-width: 1050px;
    padding-top: 128px;
  }

  .catalog-item {
    flex-direction: column;

    @include indent;
    margin-bottom: 58px;
  }

  .catalog-item:not(:nth-of-type(3n)) {
    margin-right: 50px;
  }

  .catalog-item__image {
    width: 100%;
    min-height: 462px;
    background-color: #ececec;
  }

  .catalog-item__descr {
    flex-grow: 1;
    width: 316px;
  }
}
