.categories {
  margin: -72px auto 0;
}

.categories__list {
  @include indent;
  list-style: none;
}

.categories__item {
  @include indent;
}

.categories__link {
  display: flex;
  justify-content: space-between;
  padding: 23px 30px 18px;
  text-decoration: none;
  background-color: $color-secondery;

  &:hover,
  &:focus,
  &:active {
    padding-bottom: 33px;
    margin-top: -5px;
    background-color: #59d5bc;
  }
}

.categories__link--toys {
  background-color: #56c3b2;

  &:hover,
  &:focus,
  &:active {
    background-color: #46c1ae;
  }
}

.categories__name {
  display: block;
  width: 130px;

  @include font-set(19px, 24px);
  color: $white;
  background-color: transparent;
}

.categories__link:active .categories__name {
  opacity: 0.3;
}

.categories__link:hover .icon--interior,
.categories__link:hover .icon--toy,
.categories__link:focus .icon--interior,
.categories__link:focus .icon--toy {
  opacity: 0.7;
}

.categories__link:active .icon--interior,
.categories__link:active .icon--toy {
  opacity: 0.3;
}

////

@media (min-width: $mq-medium) {
  .categories {
    position: relative;
    z-index: 2;
    margin-top: -118px;
  }

  .categories__list {
    display: flex;
    padding: 0 50px;
  }

  .categories__item {
    width: 50%;
  }

  .categories__link {
    padding: 28px 35px;
  }

  .categories__name {
    @include font-set(20px, 30px);
  }
}

////

@media (min-width: $mq-large) {
  .categories {
    max-width: 1150px;
  }
}
