.contacts {
  @include indent;
}

.contacts__wrap {
  @include indent(0, 40px 30px);
}

.contacts__title {
  @include indent;
  @include font-set(18px, 30px);
  content: $black;
}

.contacts__inner {
  display: flex;
  margin-top: 16px;
}

.contacts__label {
  @include font(15px, 30px);
  padding-right: 32px;
}

.contacts__link {
  @include font(15px, 30px);
  color: $color-primary;
}

.contacts__text {
  width: 60%;
  @include indent;
  @include font(15px, 30px);
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 457px;
  background-color: $color-bg;
}

.contacts__map-point {
  position: absolute;
  top: 32%;
  left: 43%;
  z-index: 5;
}

.contacts__btn {
  margin: 39px 30px;
}

////

@media (min-width: $mq-medium) {
  .contacts__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include indent(0 50px, 70px 0 54px);
  }

  .contacts__title {
    width: 100%;
    margin-bottom: 52px;
    @include font-set(43px, 50px);
  }

  .contacts__inner {
    width: 50%;
    margin-top: 0;
  }

  .contacts__label {
    @include font($font-size, 30px);
    padding-right: 25px;
  }

  .contacts__link {
    @include font($font-size, 30px);
  }

  .contacts__text {
    width: 220px;
    @include font($font-size, 30px);
  }

  .contacts__btn {
    width: 226px;
    margin: 55px auto;
  }
}

////

@media (min-width: $mq-large) {
  .contacts {
    position: relative;
    @include indent(70px 0 50px, 0);
  }

  .contacts__wrap {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    width: 350px;
    @include indent;
    padding-top: 78px;
    padding-left: 174px;
  }

  .contacts__title {
    width: 100%;
    margin-bottom: 56px;
    @include font-set(53px, 57px);
  }

  .contacts__inner {
    width: 100%;
    margin-bottom: 30px;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;
    width: 525px;
  }

    .contacts__btn {
    width: 226px;
    margin: 35px 0 0 174px;
  }
}
