.contacts__wrap {
  @include indent(0, 35px 30px 38px);
}

.contacts__title {
  @include indent;
  @include font-set(18px, 30px);
  content: $black;
}

.contacts__inner {
  display: flex;
  margin-top: 27px;
}

.contacts__label {
  @include font(15px, 30px);
  padding-right: 32px;
}

.contacts__link {
  @include font(15px, 30px);
  color: $color-primary;
  text-decoration: none;
  border-bottom: 1px solid $color-primary;
}

.contacts__link:hover,
.contacts__link:focus {
  color: #46c1ae;
  border-bottom-color: #46c1ae;
}

.contacts__link:active {
  color: #46c1ae;
  opacity: 0.3;
  border-bottom-color: rgba(#46c1ae, 0.3);
}

.contacts__text {
  width: 70%;

  @include indent;
  @include font(15px, 30px);
}

.contacts__map {
  position: relative;
  min-height: 457px;
  background-color: $color-bg;
}

.contacts__map-img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.contacts__map-point {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -85%);
  z-index: 5;
}

.contacts__btn {
  margin: 39px 30px;
}

////

@media (min-width: $mq-medium) {
  .contacts__wrap {
    display: flex;
    flex-wrap: wrap;

    @include indent(0 50px, 45px 0 56px);
  }

  .contacts__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 33px;
  }

  .contacts__title {
    align-self: center;

    @include font-set(43px, 50px);
  }

  .contacts__inner {
    width: 50%;
    margin-top: 0;
  }

  .contacts__label {
    @include font($font-size, 30px);
    padding-right: 25px;
  }

  .contacts__link {
    align-self: flex-start;

    @include font($font-size, 30px);
  }

  .contacts__text {
    @include font($font-size, 30px);
  }

  .contacts__btn {
    width: 226px;
    margin: 55px auto;
  }
}

////

@media (min-width: $mq-large) {
  .contacts {
    position: relative;
    max-width: 1050px;

    @include indent(70px auto 105px, 0 50px);
  }

  .contacts__wrap {
    flex-direction: column;
    width: 50%;

    @include indent;
    padding-top: 60px;
  }

  .contacts__top {
    justify-content: flex-start;
    margin-bottom: 35px;
  }

  .contacts__title {
    width: 66%;

    @include font-set(53px, 57px);
  }

  .contacts__inner {
    width: 66%;
    margin-bottom: 30px;
    margin-left: 175px;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    right: 50px;
    width: 525px;
  }

  .contacts__btn {
    width: 226px;
    margin: 50px 0 0 175px;
  }
}
