.copyright {
  padding: 23px 0;
  text-align: center;
}

.copyright__text {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;

  @include font-set(19px, 20px);
  color: $black;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.copyright__link:hover .icon--htmlacademy,
.copyright__link:focus .icon--htmlacademy {
  fill: $color-footer;
}

.copyright__link:active .icon--htmlacademy {
  fill: $color-footer;
  opacity: 0.3;
}

////

@media (min-width: $mq-medium) {
  .copyright {
    text-align: right;
  }

  .copyright__text {
    margin-right: 24px;
  }

  .copyright__link {
    padding-top: 5px;
  }
}
