.features {
  @include indent;
}

.features__wrap {
  @include indent(0, 30px);
  padding-bottom: 0;
  border-top: $border-line;
}

.features__title {
  @include indent;
  margin-bottom: 30px;
  @include font-set(25px, 30px);
  color: $black;
}

.features__list {
  @include indent;
  list-style: none;
}

.features__item {
  @include indent;
  margin-bottom: 30px;
  padding-right: 45px;
  @include font-set($font-size, 20px);
  color: $black;
}

.features__item--rocket {
  padding-right: 0;
}

.features__item img {
  display: block;
  margin-bottom: 18px;
}

////

@media (min-width: $mq-medium) {
  .features__wrap {
    @include indent(0, 50px);
    padding-bottom: 0;
  }

  .features__title {
    margin-bottom: 40px;
    @include font-set(43px, 50px);
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    width: 40%;
    padding-right: 10%;
    margin-bottom: 55px;
    @include font-set(20px, 22px);
  }

  .features__item--design {
    order: 1;
  }

  .features__item--rocket {
    order: 2;
    width: 50%;
    padding-right: 0;
  }

  .features__item--heart {
    order: 3;
  }

  .features__item--gift {
    order: 4;
  }
}

////

@media (min-width: $mq-large) {
  .features {
    max-width: 1150px;
    margin: 0 auto;
  }

  .features__wrap {
    max-width: 700px;
    @include indent(0 50px, 70px 175px);
    padding-bottom: 20px;
  }

  .features__title {
    @include font-set(53px, 57px);
  }
}
