.features__wrap {
  position: relative;

  @include indent(0, 35px 30px 0);
}

.features__wrap::before {
  position: absolute;
  left: 0;
  top: 1px;
  width: 100%;
  height: 7px;
  content: "";
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: auto 7px;
}

.features__title {
  @include indent;
  margin-bottom: 30px;

  @include font-set(25px, 30px);
  color: $black;
}

.features__list {
  @include indent;
  list-style: none;
}

.features__item {
  @include indent;
  margin-bottom: 30px;
  padding-right: 45px;

  @include font-set($font-size, 20px);
  color: $black;
}

.features__item--rocket {
  padding-right: 0;
}

.features__item > .icon {
  display: block;
  fill: $color-secondery;
}

////

@media (min-width: $mq-medium) {
  .features__wrap {
    @include indent(0, 68px 50px 0);
  }

  .features__wrap::before {
    height: 17px;
    background-size: auto 17px;
  }

  .features__title {
    margin-bottom: 49px;

    @include font-set(43px, 50px);
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .features__item {
    width: 40%;
    padding-right: 10%;
    margin-bottom: 55px;

    @include font-set(20px, 22px);
  }

  .features__item--design {
    order: 1;
  }

  .features__item--rocket {
    order: 2;
    width: 50%;
    padding-right: 0;
  }

  .features__item--heart {
    order: 3;
  }

  .features__item--gift {
    order: 4;
  }
}

////

@media (min-width: $mq-large) {
  .features {
    max-width: 1150px;
    margin: 0 auto;
  }

  .features__wrap::before {
    height: 23px;
    background-size: auto;
  }

  .features__wrap {
    max-width: 700px;

    @include indent(0 50px, 84px 175px 0);
  }

  .features__title {
    @include font-set(53px, 57px);
  }
}
