.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon--search,
.icon--cart {
  padding-right: 24px;
  opacity: 0.2;
  fill: $black;
}

.icon--interior,
.icon--toy {
  fill: #149080;
  opacity: 0.5;
}

.icon--feature-flower,
.icon--feature-ball {
  margin-bottom: 18px;
  margin-left: 5px;
}

.icon--feature-money {
  margin-bottom: 26px;
}

.icon--feature-heart {
  margin-bottom: 26px;
  margin-left: 7px;
}

.icon--feature-rocket {
  margin-bottom: 30px;
  margin-left: -8px;
}

.icon--feature-gift {
  margin-bottom: 24px;
  margin-left: 4px;
}

.icon--flag {
  display: none;
}

.icon--catalog-cart {
  opacity: 0.2;
}

.icon--video {
  width: 50px;
  height: 45px;
  padding-right: 25px;
  fill: $color-secondery;
}

.icon--phone {
  position: absolute;
  right: 8px;
  bottom: 15px;
  fill: $black;
  opacity: 0.2;
}

.icon--mail {
  position: absolute;
  right: 4px;
  bottom: 10px;
  fill: $black;
  opacity: 0.2;
}

.icon--htmlacademy {
  fill: $color-secondery;
}

////

@media (min-width: $mq-medium) {
  .icon--cart {
    padding-right: 30px;
  }

  .icon--flag {
    display: block;
  }

  .icon--video {
    width: 32px;
    height: 32px;
    padding-left: 10px;
    padding-right: 32px;
  }

  .icon--phone {
    right: 26px;
  }

  .icon--mail {
    right: 22px;
  }

  .icon--logo-footer {
    fill: $black;
  }
}

@media (min-width: $mq-large) {
  .icon--flag {
    order: -1;
    margin: 0 62px;
  }

  .icon--video {
    display: block;
    margin-left: 50px;
    margin-bottom: 22px;
  }

  .icon--phone {
    right: 8px;
  }

  .icon--mail {
    right: 4px;
  }
}
