.logo--header img {
  width: 86px;
  height: 35px;
}

.logo--footer {
  display: none;
}

////

@media (min-width: $mq-medium) {
  .logo--header img {
    width: 113px;
    height: 46px;
  }

  .logo--footer {
    display: block;
    width: 33%;
    margin-top: -5px;
    font-size: 0;
  }

  .logo--footer:hover .icon--logo-footer,
  .logo--footer:focus .icon--logo-footer {
    fill: $color-footer;
  }

  .logo--footer:active .icon--logo-footer {
    fill: $color-footer;
    opacity: 0.3;
  }
}

////

@media (min-width: $mq-large) {
  .logo--header img {
    width: 150px;
    height: 72px;
  }
}
