.main-nav {
  position: relative;
  min-height: 79px;
}

.main-nav__toggle {
  position: absolute;
  z-index: 5;
  top: 30px;
  right: 30px;
  display: block;
  width: 21px;
  height: 21px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 7px 0 0 $black, 0 14px 0 0 $black;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 45%;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  @include indent;
  list-style: none;
}

.main-nav__item {
  @include indent(0, 0 30px);
}

.main-nav__item a {
  display: block;

  @include indent(0, 27px 0);
  padding-left: 45px;

  @include font-set($font-size, 1.4);
  color: $black;
  text-decoration: none;
}

.main-nav__item a[href] {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__item--search a,
.main-nav__item--cart a {
  padding-left: 0;
}

.main-nav__item--logo a {
  @include indent(0 auto, 22px 0 15px);
  text-align: center;
}

// .main-nav__item--logo img {
//   width: 86px;
//   height: 35px;
// }

.main-nav__item a:hover .icon--search,
.main-nav__item a:focus .icon--search,
.main-nav__item a:hover .icon--cart,
.main-nav__item a:focus .icon--cart {
  fill: $color-secondery;
  opacity: 1;
}

.main-nav__item a:active .icon--search,
.main-nav__item a:active .icon--cart {
  fill: $color-secondery;
  opacity: 0.3;
}

////

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--closed .main-nav__item--logo {
    display: block;
  }

  .main-nav--opened .main-nav__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  .main-nav--opened .main-nav__item {
    border-bottom: $border-line;
    background-color: $white;
  }

  .main-nav--opened .main-nav__item--add {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }

  .main-nav--nojs .main-nav__item--add {
    display: none;
  }
}

////

@media (min-width: $mq-medium) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
  }

  .main-nav__item {
    display: block;
    padding: 0;
    background-color: transparent;
    border-bottom: none;
  }

  .main-nav__item--logo {
    flex-grow: 1;
    width: 40%;
    margin-right: auto;
  }

  .main-nav__item--logo a {
    margin: 0;
    text-align: left;
  }

  .main-nav__item--catalog,
  .main-nav__item--form {
    width: 25%;
    text-align: left;
  }

  .main-nav__item--catalog {
    order: 4;
  }

  .main-nav__item--form {
    order: 5;
  }

  .main-nav__item--catalog a,
  .main-nav__item--form a {
    padding: 20px 0;

    @include font-set(15px, 24px);
  }

  .main-nav__item--search {
    width: 50px;
    padding-left: 30px;
    border-left: $border-line;
    border-right: $border-line;
  }

  .main-nav__item--search a {
    padding: 35px 0;
    font-size: 0;
  }

  .main-nav__item--cart {
    flex-shrink: 0;
    width: 264px;
    text-align: right;
  }

  .main-nav__item--cart a {
    padding: 32px 0;
  }

  .main-nav__item--add {
    display: none;
  }
}

////

@media (min-width: $mq-large) {
  .main-nav__list {
    position: relative;
    z-index: 1;
    max-width: 1050px;
    margin: 0 auto;
  }

  .main-nav__item--logo {
    flex-grow: 0;
    width: 150px;
  }

  .main-nav__item--logo a {
    padding: 8px 0 0;
  }

  .main-nav__item--catalog {
    order: -2;
    width: 185px;
    border-right: $border-line;
  }

  .main-nav__item--form {
    order: -1;
    width: 230px;
    padding-left: 34px;
  }

  .main-nav__item--catalog a,
  .main-nav__item--form a {
    padding: 32px 0;

    @include font-set($font-size, 1.4);
  }

  .main-nav__item--cart {
    width: 266px;
  }

  .main-nav__item--add {
    display: block;
    width: 220px;
    text-align: left;
  }

  .main-nav__item--add a {
    padding: 20px 0;

    @include font-set(15px, 24px);
  }
}
