.modal {
  // position: fixed;
  // z-index: 10;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  width: 320px;
  padding-top: 35px;
  padding-bottom: 46px;
  background-color: $white;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

.modal__title {
  @include font-caps(700, 25px, 30px);
  color: $black;
  display: block;
  margin: 0 85px;
}

.modal__form {
  margin: 0 30px;
}

.modal__caption {
  @include font(15px, 30px);
  color: $color-primary;
  text-align: center;
}

.modal__input {
  display: none;
}

.modal__label {
  @include font-set($font-size, 20px);
  color: $color-primary;
  display: inline-block;
  width: 78px;
  height: 48px;
  text-align: center;
  vertical-align: middle;
  background-color: $white;
  border: 2px solid $color-secondery;
}

.modal__btn {
  margin-top: 30px;
  color: $white;
  background-color: $color-secondery;
  border: none;
}
