.order-form__group {
  @include indent;
  border: none;
}

.order-form__wrap {
  @include indent(0, 0 30px);
  padding-bottom: 32px;
}

.order-form__title {
  position: relative;
  display: block;

  @include indent;
  margin-bottom: 23px;

  @include font-caps(700, $font-size, 18px);
  color: $color-secondery;
}

// линия псевдоэлементом
.order-form__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 76%;
  height: 1px;
  background-color: $color-secondery;
}

.order-form__inner {
  margin-bottom: 12px;
}

.order-form__wrap--color {
  padding-bottom: 11px;
}

.order-form__wrap--color .order-form__inner {
  margin-bottom: 21px;
}

.order-form__input-radio,
.order-form__input-check {
  display: none;
}

.order-form label {
  font-family: $font-family;
}

.order-form__label-radio,
.order-form__label-check {
  position: relative;
  display: block;
  padding-left: 63px;
  padding-top: 10px;

  @include font-set($font-size, 18px);
  color: $black;
  cursor: pointer;
}

.order-form__label-radio {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border: 2px solid $color-primary;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 18px;
    height: 18px;
    background-color: $color-form;
    border-radius: 50%;
    display: none;
  }
}

.order-form__input-radio:checked + .order-form__label-radio::after {
  display: block;
}

.order-form__label-check {
  padding-bottom: 12px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border: 2px solid $color-primary;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 22px;
    height: 10px;
    border-left: 2px solid $black;
    border-bottom: 2px solid $black;
    transform: rotate(-45deg);
    background-color: transparent;
    display: none;
  }
}

.order-form__input-check:checked + .order-form__label-check::after {
  display: block;
}

.order-form__input-radio:hover + .order-form__label-radio::before,
.order-form__input-radio:focus + .order-form__label-radio::before,
.order-form__input-check:hover + .order-form__label-check::before,
.order-form__input-check:focus + .order-form__label-check::before {
  border-color: $color-form;
}

.order-form__input-radio:active + .order-form__label-radio::before,
.order-form__input-check:active + .order-form__label-check::before {
  border-color: $color-primary;
  opacity: 0.3;
}

.order-form__wrap--name {
  padding-bottom: 13px;
}

.order-form__wrap--name .order-form__inner {
  margin-bottom: 19px;
}

.order-form__wrap--contact .order-form__inner {
  position: relative;
}

.order-form__wrap--contact .order-form__inner:last-child {
  padding-top: 19px;
  margin-bottom: 0;
}

.order-form__wrap--contact .order-form__title {
  margin-bottom: 7px;
}

.order-form__label {
  @include font-set($font-size, 18px);
  color: $black;
}

.order-form__input {
  width: 99%;
  padding: 16px 1px;

  @include font($font-size, 18px);
  font-family: $font-family;
  color: $color-primary;
  border: none;
  box-shadow: inset 0 -2px 0 $black;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 0 -2px 0 $color-form;
  }

  &::-webkit-input-placeholder {
    opacity: 0.3;
  }

  &::-moz-placeholder {
    opacity: 0.3;
  }

  &:-ms-input-placeholder {
    color: rgba($color-primary, 0.3);
  }

  &:-moz-placeholder {
    opacity: 0.3;
  }
}

.order-form__wrap--contact .order-form__input {
  width: 85%;
  padding-right: 36px;
}

.order-form__input:hover + .icon--phone,
.order-form__input:focus + .icon--phone,
.order-form__input:active + .icon--phone {
  fill: $color-form;
  opacity: 1;
}

.order-form__input:hover + .icon--mail,
.order-form__input:focus + .icon--mail,
.order-form__input:active + .icon--mail {
  fill: $color-form;
  opacity: 1;
}

.order-form__wrap--messege {
  padding-bottom: 0;
}

.order-form__message {
  width: 85%;
  height: 104px;
  padding: 17px;

  @include font($font-size, 18px);
  font-family: $font-family;
  color: $color-primary;
  border: 2px solid $color-primary;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    border-color: $color-form;
  }

  &::-webkit-input-placeholder {
    opacity: 0.3;
  }

  &::-moz-placeholder {
    opacity: 0.3;
  }

  &:-ms-input-placeholder {
    color: rgba($color-primary, 0.3);
  }

  &:-moz-placeholder {
    opacity: 0.3;
  }
}

.order-form__footer {
  @include indent(8px 30px 55px, 0);
}

.order-form__caption {
  @include font(14px, 16px);
  color: $color-primary;
}

.order-form__btn {
  width: 260px;
  margin-top: 30px;
}

////

@media (min-width: $mq-medium) {
  .order-form__group:nth-of-type(even) {
    background-color: $color-bg;
  }

  .order-form__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @include indent(0, 45px 50px 28px);
  }

  .order-form__wrap-flex {
    width: 77%;
  }

  .order-form__wrap--color .order-form__wrap-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .order-form__inner {
    margin-bottom: 22px;
  }

  .order-form__wrap--color .order-form__inner {
    width: 50%;
  }

  .order-form__wrap--name .order-form__inner,
  .order-form__wrap--contact .order-form__inner {
    display: flex;
    align-items: baseline;
    margin-bottom: 23px;
  }

  .order-form__wrap--contact .order-form__inner {
    width: 100%;
  }

  .order-form__wrap--contact .order-form__inner:last-child {
    padding-top: 0;
    margin-bottom: 21px;
  }

  .order-form__title {
    width: 23%;
    padding-top: 18px;
  }

  .order-form__title::after {
    display: none;
  }

  .order-form__label-radio {
    padding-left: 93px;
    padding-top: 17px;
    padding-bottom: 17px;

    @include font-set(19px, 21px);

    &::before {
      left: 11px;
      width: 50px;
      height: 50px;
    }

    &::after {
      top: 16px;
      left: 27px;
      width: 23px;
      height: 23px;
    }
  }

  .order-form__label-check {
    padding-left: 93px;
    padding-top: 17px;
    padding-bottom: 18px;

    @include font-set(19px, 21px);

    &::before {
      left: 14px;
      width: 50px;
      height: 50px;
    }

    &::after {
      top: 17px;
      left: 27px;
      width: 28px;
      height: 14px;
    }
  }

  .order-form__label {
    padding-right: 25px;
    padding-left: 15px;

    @include font-set(19px, 21px);
  }

  .order-form__input {
    padding: 17px;

    @include font(19px, 20px);
  }

  .order-form__wrap--contact .order-form__input {
    width: 65%;
    padding-right: 60px;
    background-color: $color-bg;
  }

  .order-form__wrap--messege {
    padding-top: 50px;
  }

  .order-form__wrap--contact .order-form__title,
  .order-form__wrap--messege .order-form__title {
    width: 25%;
  }

  .order-form__message {
    width: 69%;
  }

  .order-form__footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include indent(50px, 0);
    margin-top: 25px;
  }

  .order-form__caption {
    order: 1;

    @include font($font-size, 30px);
  }

  .order-form__btn {
    width: 230px;
    margin-top: 0;
  }
}

////

@media (min-width: $mq-large) {
  .order-form__wrap {
    max-width: 938px;
    padding-left: 62px;
    margin: 0 auto;
  }

  .order-form__title {
    width: 103px;
  }

  .order-form__wrap-flex {
    width: 84%;
  }

  .order-form__wrap--color .order-form__inner {
    width: 33%;
  }

  .order-form__wrap--name .order-form__wrap-flex {
    // width: 75%;
    width: 710px;
  }

  .order-form__wrap--contact .order-form__inner {
    // width: 86%;
    width: 810px;
  }

  .order-form__wrap--contact .order-form__input {
    width: 78%;
  }

  .order-form__label {
    padding-left: 10px;
    padding-right: 27px;
  }

  .order-form__wrap--contact .order-form__title,
  .order-form__wrap--messege .order-form__title {
    width: 110px;
  }

  .order-form__message {
    width: 71%;
  }

  .order-form__footer {
    max-width: 700px;

    @include indent(22px auto 50px, 0 175px);
  }
}
