.page-header {
  @include indent;
  width: 320px;
  background-color: $color-bg;
}

.page-header__intro {
  width: 320px;
  margin: 0;
  padding-top: 1px;
}

.page-header__intro--large {
  height: 355px;
  background: $color-bg url("../img/hero-mobile@1x.jpg") no-repeat 50% 0;
}

.page-header__title {
  @include font-set(27px, 30px);
  color: $black;
  width: 244px;
  margin: 74px auto;
  text-align: center;
}
