.page-header {
  width: 100%;
}

.page-header__intro {
  width: 100%;
  min-height: 176px;
  border-top: $border-line;
  background-color: $color-bg;
}

.page-header__intro--large {
  min-height: 355px;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: auto 372px;
  }
}

.page-header__info {
  display: none;
}

.page-header__title {
  @include font-set(27px, 30px);
  color: $black;
  margin: 70px auto 0;
  text-align: center;
}

.page-header__intro--large .page-header__title {
  width: 245px;
  margin-top: 71px;
}

@media (min-width: $mq-medium) {
  .page-header__intro {
    position: relative;
    min-height: 225px;
    margin-top: -64px;
  }

  .page-header__intro::after {
    position: absolute;
    left: 0;
    bottom: -17px;
    z-index: 10;
    width: 100%;
    height: 34px;
    content: "";
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
  }

  .page-header__intro--large {
    min-height: 745px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .page-header__info {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 18px 50px 20px 350px;

    @include font(15px, 24px);
    color: $color-primary;
    text-align: right;
  }

  .page-header__title {
    margin-top: 34px;

    @include font-set(43px, 50px);
  }

  .page-header__intro--large .page-header__title {
    width: 500px;
    margin-top: 91px;
  }
}

@media (min-width: $mq-large) {
  .page-header__intro {
    min-height: 254px;
  }

  .page-header__intro--large {
    min-height: 745px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .page-header__title {
    @include font-set(53px, 57px);
  }

  .page-header__intro--large .page-header__title {
    width: 615px;
  }

  .page-header__info {
    max-width: 700px;
    padding-right: 0;
  }
}
