.product-week {
  @include indent;
}

.product-week__wrap {
  @include indent(0, 30px);
}

.product-week__header {
  @include indent;
  margin-bottom: 25px;
}

.product-week__title {
  @include indent;
  @include font-set(25px, 30px);
  color: $black;
}

.product-week__caption {
  @include font-caps(700, 17px, 20px);
  color: $color-secondery;
}

.product-week__text {
  @include font(15px, 24px);
  color: $color-primary;
  margin-top: 0;
  margin-bottom: 30px;
}

.product-week__table {
  @include font(15px, 20px);
  color: $color-primary;
  width: 260px;
  height: 120px;
  margin-bottom: 28px;
  border-collapse: collapse;
}

.product-week__label {
  width: 97px;
}

.product-week__row {
  border-bottom: $border-line;
}

.product-week__footer {
  margin-top: 22px;
  margin-bottom: 35px;
}

.product-week__price {
  @include font-set(17px, 1.4);
  color: $color-primary;
  display: block;
  text-align: center;
}

.product-week__btn {
  margin-top: 20px;
}

////

@media (min-width: $mq-medium) {
  .product-week__wrap {
    position: relative;
    @include indent(0, 50px);
  }

  .product-week__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .product-week__title {
    @include font-set(43px, 50px);
  }

  .product-week__caption {
    width: 72px;
    margin-right: 28px;
    margin-top: 5px;
    @include font-caps(700, 17px, 20px);
  }

  .product-week__descr {
    width: 292px;
  }

  .product-week__text {
  @include font($font-size, 30px);
  margin-bottom: 50px;
  }

  .product-week__table {
    width: 100%;
    margin-bottom: 50px;
  }

  .product-week__image {
    position: absolute;
    z-index: 2;
    top: 153px;
    right: 50px;
    width: 333px;
    height: 404px;
    background-color: $color-bg;
  }

  .product-week__footer {
    width: 292px;
    margin: 0;
  }

  .product-week__price {
    @include font-set(20px, 24px);
  }

  .product-week__btn {
    margin-top: 25px;
}
}

////

@media (min-width: $mq-large) {
  .product-week__wrap {
    padding-top: 130px;
    padding-bottom: 75px;
  }

  .product-week__header {
    position: relative;
    z-index: 5;
    justify-content: flex-start;
  }

  .product-week__title {
    @include font-set(53px, 57px);
  }

  .product-week__caption {
    order: -1;
    margin-left: 47px;
    margin-right: 56px;
  }

  .product-week__descr {
    margin-left: 175px;
  }

  .product-week__text {
    margin-bottom: 62px;
  }

  .product-week__table {
    margin-bottom: 96px;
  }
  .product-week__image {
    top: 70px;
    width: 525px;
    height: 636px;
  }

  .product-week__footer {
    margin-left: 175px;
  }
}
