.production {
  margin: 0 30px 58px;
  padding: 0;
  border: $border-line;
}

.production__title {
  @include font-set($font-size, 1.4);
  color: $black;
  margin: 25px 30px;
  padding-left: 60px;
}

.production__player {
  position: relative;
  width: 260px;
  height: 150px;
}

.production__player-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 102px;
  height: 78px;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  border: none;
  font-size: 0;
}

.production__descr {
  margin: 33px 34px;
}

.production__text {
  @include indent;
  @include font(13px, 24px);
  color: $color-primary;
  margin-bottom: 24px;
}
