.production {
  margin-bottom: 60px;
  padding: 0 30px;
  outline: none;
}

.production__wrap {
  border: $border-line;
}

.production__wrap:hover,
.production__wrap:focus {
  box-shadow: 0 6px 10px rgba($black, 0.1);
}

.production__wrap:active {
  box-shadow: 0 3px 5px rgba($black, 0.1);
}

.production__top {
  display: flex;
  align-items: center;
  padding: 25px 30px;
}

.production__title {
  @include indent;
  @include font-set($font-size, 1.4);
  color: $black;
}

.production__player {
  position: relative;
  min-height: 150px;
}

.production__player img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.production__player-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 102px;
  height: 78px;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  border: none;
  font-size: 0;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.production__descr {
  padding: 28px 34px 32px;
}

.production__text {
  @include indent;
  @include font(13px, 24px);
  color: $color-primary;
  margin-bottom: 24px;
}

////

@media (min-width: $mq-medium) {
  .production {
    padding: 0 50px;
    margin-bottom: 63px;
  }

  .production__wrap {
    display: flex;
    flex-direction: column;
  }

  .production__player {
    order: -1;
    min-height: 453px;
    background-color: #ececec;
  }

  .production__top {
    padding: 30px;
  }

  .production__title {
    @include font-set(20px, 24px);
  }

  .production__descr {
    padding: 0 40px 45px;
  }

  .production__text {
    @include font(15px, 2);
    margin-bottom: 33px;
  }
}

////

@media (min-width: $mq-large) {
  .production {
    max-width: 1050px;
    margin: 0 auto;
    margin-bottom: 105px;
  }

  .production__wrap {
    position: relative;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .production__player {
    position: absolute;
    top: 0;
    left: 0;
    width: 680px;
    height: 455px;
    background-color: #ececec;
  }

  .production__top {
    display: block;
    width: 33%;
    padding: 42px 0 32px;
  }

  .production__title {
    width: 230px;
    margin-left: 60px;
  }

  .production__descr {
    width: 33%;
    margin-bottom: 60px;
    padding: 0;
  }

  .production__text {
    margin-left: 58px;
    margin-bottom: 47px;
  }

  .production__btn {
    width: 226px;
    margin-left: 60px;
  }
}
