.slider__pagination {
  display: flex;
  margin: 35px 0;
}

.slider__btn {
  @include indent;
  width: 128px;
  height: 50px;
  border: $border-line;
  background-color: $white;
  font-size: 0;
}

.slider__btn:last-child {
  margin-left: -1px;
}

////

@media (min-width: $mq-medium) {
  .slider {
    position: relative;
  }

  .slider__pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
  }
}
