.social {
  border-bottom: $border-line;
}

.social__list {
  display: flex;
  justify-content: center;
  @include indent;
  list-style: none;
}

// временные стили для иконок
.social__item {
  @include indent(24px 0, 0);
  margin-right: 20px;
  background-color: $white;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
}

////

@media (min-width: $mq-medium) {
  .social {
    border: none;
  }
}
