.social {
  border-bottom: $border-line;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include indent;
  list-style: none;
}

.social__item {
  @include indent(24px 0, 0);
  margin-right: 40px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 0;
}

.social__link:hover svg,
.social__link:focus svg {
  fill: $color-footer;
}

.social__link:active svg {
  fill: $color-footer;
  opacity: 0.3;
}

////

@media (min-width: $mq-medium) {
  .social {
    border: none;
  }
}
